/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";

@media print {
    .breadcrumb {
        display: none !important;
    }
}

q {
    font-style: italic;
}

.table-row {
    cursor:pointer;
}

.lb-sm {
    font-weight: bold;
}
  
.lb-md {
    font-weight: bold;
}
  
.lb-lg {
    font-weight: bold;
}

.modal {
    background: rgba(0,0,0,0.6);
}

.modal-backdrop
{
    opacity:0.5 !important;
}

.admin-panel {
    border-left: 1px solid rgb(234, 234, 234);
    padding: 10px, 10px, 10px, 10px;
    margin: 10px;
    font-size: small;
}

.admin-panel h5 {
    font-size: medium;
}

.admin-panel .btn  {
    font-size: small;
}

.detail-label {
    font-weight: bold;
}

.milestone-detail {
    font-size: small;
}

.count-value {
    font-size: x-large;
    font-weight: bold;
}

.centre-name {
    color: #fff;
}

.highlighted-panel {
    border-color: #ffc107;
    border-width: 2px;
}

.feedback-detail {
    margin: 10px;
    font-size: small;
}

.feedback-detail .btn  {
    font-size: x-small;
}

.navbar-nav .nav-item {
    border-left: 1px solid rgb(71, 71, 71);
    padding-left: 7px;
    padding-right: 7px;
}

.row-unread {
    font-weight: bold;
    background-color: #fff5d5;
}

.recommendation-panel {
    margin: 10px;
}

.recommendation-panel-breakdown {
    margin: 10px;
    font-size: small;
}

.card-header {
    font-weight: bold;
}