/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";

@media print {
    .breadcrumb {
        display: none !important;
    }
}

.table-row {
    cursor:pointer;
}

.lb-sm {
    font-weight: bold;
}
  
.lb-md {
    font-weight: bold;
}
  
.lb-lg {
    font-weight: bold;
}

.modal {
    background: rgba(0,0,0,0.6);
}

.modal-backdrop
{
    opacity:0.5 !important;
}

.admin-panel {
    border-left: 1px solid rgb(234, 234, 234);
    padding: 10px, 10px, 10px, 10px;
    margin: 10px;
    font-size: small;
}

.admin-panel h5 {
    font-size: medium;
}

.admin-panel .btn  {
    font-size: small;
}

.detail-label {
    font-weight: bold;
}
