<div [@routerTransition]>
    <h2>My Dashboard</h2>
    <div *ngIf="children">
        <div class="row">        
            <div *ngFor="let child of children" class="col-xl-6 col-lg-6">
                <div class="card card-default" style="display: block;">
                    <div class="card-header detail-label">
                        {{ child.nickname + ' ' + child.last_name }}
                    </div>
                    <div>
                        <div class="row">
                            <span>&nbsp;</span>
                        </div>
                        <div class="row">
                            <div class="col-xl-5 col-lg-5" style="text-align: center;">
                                <i class="fa fa-user fa-5x"></i>
                            </div>
                            <div class="col-xl-7 col-lg-7">
                                <div class="row">
                                        <div class="col-lg-7 detail-label">Birthday:</div>
                                        <div class="col-lg-5">{{ child.birthday | date }}</div>
                                </div>
                                <div class="row">
                                        <div class="col-lg-7 detail-label">Group:</div>
                                        <div class="col-lg-5">{{ child.group }}</div>
                                </div>
                                <div class="row">
                                        <div class="col-lg-7 detail-label">Total Observations:</div>
                                        <div class="col-lg-5">{{ getStatisticsValue(child.id, 'total_observations') }}</div>
                                </div>
                                <div class="row">
                                        <div class="col-lg-7 detail-label">Latest Observation:</div>
                                        <div class="col-lg-5">{{ child.last_observation_activity | date }}</div>
                                </div>
                                <div class="row">
                                        <div class="col-lg-7 detail-label">Total Milestones:</div>
                                        <div class="col-lg-5">{{ getStatisticsValue(child.id, 'total_milestones') }}</div>
                                </div>
                                <div class="row">
                                        <div class="col-lg-7 detail-label">Latest Milestone:</div>
                                        <div class="col-lg-5">{{ child.	last_milestone_activity | date }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <span>&nbsp;</span>
                        </div>
                    </div>
                    <div class="card-footer table-row" style="text-align: center;" (click)="onClickViewDetails('children')">
                        View Details
                    </div>
                </div>
                <span>&nbsp;</span>
            </div>
        </div>
    </div>
</div>
