<div [@routerTransition]>
  <app-page-header [heading]="'Observations'" [icon]="'fa-table'"></app-page-header>
  <div *ngIf="sessionUtils.isAllowed('ROLE_EDUCATOR')" class="row">
    <div class="col-xl-9">
      <button type="button" class="btn btn-primary" (click)="addNew()">Add new</button>      
      &nbsp;
    </div>
    <div class="col-xl-1 detail-label">
      Show:
    </div>
    <div class="col-xl-2">
      <select [(ngModel)]="filter_mode" class="form-control" id="filterInput" name="filterInput" (ngModelChange)="getObservations()">
        <option>Mine</option>
        <option>Under my care</option>
        <option>All</option>
      </select>
      &nbsp;
    </div>
  </div>
  <div class="row">
    <div class="col col-xl-12 col-lg-12">
      <div class="card mb-12">
        <table class="card-body table table-hover">
            <thead>
              <tr>
                <th>Date Tracked</th>
                <th>By</th>
                <th>For</th>
                <th>Outcome</th>
                <th *ngIf="!sessionUtils.isAllowed('ROLE_PARENT_GUARDIAN')">Published</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let observation of observations" class="table-row" (click)="goToDetail(observation)">
                <td>{{ observation.date_tracked }}</td>
                <td>{{ observation.educator_name }}</td>
                <td>{{ observation.child_name }}</td>
                <td>{{ observation.outcome }}</td>
                <td *ngIf="!sessionUtils.isAllowed('ROLE_PARENT_GUARDIAN')">{{ observation.published | yesno }}</td>
              </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>
 </div>