<div [@routerTransition]>
  <app-page-header [heading]="'Teaching Plans'" [icon]="'fa-table'"></app-page-header>
  <div *ngIf="sessionUtils.isAllowed('ROLE_EDUCATOR')" class="row">
    <div class="col-xl-9">
      <button type="button" class="btn btn-primary" (click)="addNew()">Add new</button>      
      &nbsp;
    </div>
    <div class="col-xl-1 detail-label">
      Show:
    </div>
    <div class="col-xl-2">
      <select [(ngModel)]="filter_mode" class="form-control" id="filterInput" name="filterInput" (ngModelChange)="getTeachingPlans()">
        <option>Mine</option>
        <option>Under my care</option>
        <option>All</option>
      </select>
      &nbsp;
    </div>
  </div>
  <div class="row">
    <div class="col col-xl-12 col-lg-12">
      <div class="card mb-12">
        <table class="card-body table table-hover">
            <thead>
              <tr>
                <th>Target Date</th>
                <th>By</th>
                <th>For</th>
                <th>Title</th>
                <th>Target Outcome</th>
                <th>Done</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let teachingPlan of teachingPlans" class="table-row" (click)="goToDetail(teachingPlan)">
                <td>{{ teachingPlan.target_date }}</td>
                <td>{{ teachingPlan.educator_name }}</td>
                <td>{{ teachingPlan.child_name }}</td>
                <td>{{ teachingPlan.title }}</td>
                <td>{{ teachingPlan.target_outcome }}</td>
                <td>{{ teachingPlan.done | yesno }}</td>
              </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>
 </div>