<div [@routerTransition]>
    <app-page-header [heading]="'Observation Details'"></app-page-header>
    <div *ngIf="observation && educator && children">

        <form name="form" #f="ngForm" novalidate>

            <div class="row">
                <div class="col-lg-8">
                    <div class="form-group">
                        <div class="row">
                                <div class="col-lg-1 detail-label">By</div>
                                <div class="col-lg-11">{{ educator.first_name + ' ' + educator.last_name }}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="childInput" class="detail-label">For</label>
                        <select [(ngModel)]="observation.child_id" class="form-control" id="childInput" name="childInput"
                        required pattern="^[1-9]\d*$" #childctl="ngModel" [ngClass]="{ 'is-invalid': childctl.invalid }">
                        <option value="0" selected disabled>Select a child</option>
                            <option *ngFor="let child of children" [value]="child.id" class="form-control">
                                {{ child.first_name + ' ' + child.last_name }}
                            </option>
                        </select>
                        <div *ngIf="childctl.invalid && (childctl.dirty || childctl.touched)" class="text-danger">
                            <div *ngIf="childctl.errors.required || childctl.errors.pattern">
                                <small>* Child is required</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="observationInput" class="detail-label">Observation</label>                    
                        <textarea [(ngModel)]="observation.observation" class="form-control" rows="7" id="observationInput" name="observationInput" placeholder="What was observed?"
                        required #observationctl="ngModel" [ngClass]="{ 'is-invalid': observationctl.invalid }">
                        </textarea>
                        <div *ngIf="observationctl.invalid && (observationctl.dirty || observationctl.touched)" class="text-danger">
                            <div *ngIf="observationctl.errors.required">
                                <small>* Observation is required</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="outcomeInput" class="detail-label">Outcome / Link</label>
                        <select [(ngModel)]="observation.outcome_id" class="form-control" id="outcomeInput" name="outcomeInput"
                        required pattern="^[1-9]\d*$" #outcomectl="ngModel" [ngClass]="{ 'is-invalid': outcomectl.invalid }">
                            <option value="0" selected disabled>Select an EYLF outcome</option>
                            <option *ngFor="let outcome of outcomes" [value]="outcome.id" class="form-control">
                                {{ outcome.description }}
                            </option>
                        </select>
                        <div *ngIf="outcomectl.invalid && (outcomectl.dirty || outcomectl.touched)" class="text-danger">
                            <div *ngIf="outcomectl.errors.required || outcomectl.errors.pattern">
                                <small>* Outcome is required</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="dateTrackedInput" class="detail-label">Date Tracked</label>
                        <input [(ngModel)]="observation.date_tracked" type="date" class="form-control" id="dateTrackedInput" name="dateTrackedInput"
                        required #datetrackedctl="ngModel" [ngClass]="{ 'is-invalid': datetrackedctl.invalid }" />
                        <div *ngIf="datetrackedctl.invalid && (datetrackedctl.dirty || datetrackedctl.touched)" class="text-danger">
                            <div *ngIf="datetrackedctl.errors.required">
                                <small>* Date tracked is required</small>
                            </div>
                        </div>
                    </div>
                    <p>&nbsp;</p>

                    <button class="btn btn-primary" (click)="save()" [disabled]="f.invalid">Save</button>
                    <span>&nbsp;</span>
                    <button class="btn btn-light" (click)="back()">Cancel</button>
                </div>


                <div *ngIf="observation.id > 0" class="col-lg-4">
                    <div class="row">
                        <span>&nbsp;</span>
                        <div class="col-lg-11 admin-panel">
                            <h5 class="detail-label">Actions</h5>
                            <div class="row">
                                <div class="col-lg-11">
                                    <button class="btn btn-{{ observation.published === 1 ? 'secondary' : 'success' }}" (click)="publishUnpublish()">{{ observation.published === 1 ? 'Unpublish' : 'Publish' }}</button>                            
                                    <span>&nbsp;</span>
                                    <button class="btn btn-danger" (click)="showConfirm()">Delete</button>
                                </div>
                            </div>
                            <span><hr/></span>
                            <h5 class="detail-label">More Details</h5>
                            <div class="row">
                                    <div class="col-lg-5 detail-label">Created on:</div>
                                    <div class="col-lg-6">{{ observation.date_created | date }}</div>
                            </div>
                            <div class="row">
                                    <div class="col-lg-5 detail-label">Last updated on:</div>
                                    <div class="col-lg-6">{{ observation.date_modified | date }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>

    </div>
</div>
