<div [@routerTransition]>
    <app-page-header [heading]="'Child Details'"></app-page-header>
    <div *ngIf="child">

        <form name="form" #f="ngForm" novalidate>

            <div class="row">
                <div class="col-lg-8">                
                    <ngb-tabset>
                        
                        <ngb-tab *ngIf="child.id > 0" title="Overview">
                            <ng-template ngbTabContent *ngIf="statistics?.child_id > 0">
                                <div>
                                    <span>&nbsp;</span> 
                                    <div class="col-lg-12">                               
                                        <div class="row">
                                            <div class="col-lg-5 detail-label">Name</div>
                                            <div class="col-lg-3 detail-label">Group</div>
                                            <div class="col-lg-4 detail-label">Birthday</div>
                                        </div>                             
                                        <div class="row">
                                            <div class="col-lg-5">{{ child.first_name + ' ' + child.last_name }}</div>
                                            <div class="col-lg-3">{{ child.group }}</div>
                                            <div class="col-lg-4">{{ child.birthday | date }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div>
                                        <span>&nbsp;</span>
                                        <div class="card card-default" style="display: block;">
                                            <div class="card-header">
                                                Milestones Reached
                                            </div>
                                            <div>
                                                <span>&nbsp;</span>
                                                <canvas baseChart 
                                                    [datasets]="barChartData"
                                                    [labels]="barChartLabels"
                                                    [options]="barChartOptions"
                                                    [plugins]="barChartPlugins"
                                                    [legend]="barChartLegend"
                                                    [chartType]="barChartType"
                                                    [colors]="chartColors">
                                                </canvas>
                                            </div>
                                        </div>
                                        <span>&nbsp;</span>
                                        <div class="card card-default" style="display: block;">
                                            <div class="card-header">
                                                Strengths Based on Observations
                                            </div>
                                            <div>
                                                <span>&nbsp;</span>
                                                <canvas baseChart
                                                    [datasets]="radarChartData"
                                                    [options]="radarChartOptions"
                                                    [labels]="radarChartLabels"
                                                    [chartType]="radarChartType"
                                                    [colors]="chartColors">
                                                </canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                    

                        <ngb-tab *ngIf="sessionUtils.isAllowed('ROLE_ADMIN','ROLE_EDUCATOR')" title="Details">
                            <ng-template ngbTabContent>                            
                                <div class="col-lg-12">
                                    <span>&nbsp;</span>
                                    <div class="form-group">
                                        <label for="firstNameInput" class="detail-label">First name</label>
                                        <input [(ngModel)]="child.first_name" type="text" class="form-control" id="firstNameInput" name="firstNameInput" placeholder="First name"
                                        required maxlength="50" pattern="^[a-zA-Z\s]*$" #first_name="ngModel" [ngClass]="{ 'is-invalid': first_name.invalid }" />
                                        <div *ngIf="first_name.invalid && (first_name.dirty || first_name.touched)" class="text-danger">
                                            <div *ngIf="first_name.errors.required">
                                                <small>* First name is required</small>
                                            </div>
                                            <div *ngIf="first_name.errors.maxlength">
                                                <small>* First name must not exceed 50 characters</small>
                                            </div>
                                            <div *ngIf="first_name.errors.pattern">
                                                <small>* First name should only consist of letters</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="lastNameInput" class="detail-label">Last name</label>
                                        <input [(ngModel)]="child.last_name" type="text" class="form-control" id="lastNameInput" name="lastNameInput" placeholder="Last name"
                                        required maxlength="50" pattern="^[a-zA-Z\s]*$" #last_name="ngModel" [ngClass]="{ 'is-invalid': last_name.invalid }" />
                                        <div *ngIf="last_name.invalid && (last_name.dirty || last_name.touched)" class="text-danger">
                                            <div *ngIf="last_name.errors.required">
                                                <small>* Last name is required</small>
                                            </div>
                                            <div *ngIf="last_name.errors.maxlength">
                                                <small>* Last name must not exceed 50 characters</small>
                                            </div>
                                            <div *ngIf="last_name.errors.pattern">
                                                <small>* Last name should only consist of letters</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="nicknameInput" class="detail-label">Nickname</label>
                                        <input [(ngModel)]="child.nickname" type="text" class="form-control" id="nicknameInput" name="nicknameInput" placeholder="e.g. Joie"
                                        maxlength="20" pattern="^[a-zA-Z\s]*$" #nickname="ngModel" [ngClass]="{ 'is-invalid': nickname.invalid }" />
                                        <div *ngIf="nickname.invalid && (nickname.dirty || nickname.touched)" class="text-danger">
                                            <div *ngIf="nickname.errors.maxlength">
                                                <small>* Nickname must not exceed 20 characters</small>
                                            </div>
                                            <div *ngIf="nickname.errors.pattern">
                                                <small>* Nickname should only consist of letters</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="birthdayInput" class="detail-label">Birthday</label>
                                        <input [(ngModel)]="child.birthday" type="date" class="form-control" id="birthdayInput" name="birthdayInput"
                                        required #birthday="ngModel" [ngClass]="{ 'is-invalid': birthday.invalid }" />
                                        <div *ngIf="birthday.invalid && (birthday.dirty || birthday.touched)" class="text-danger">
                                            <div *ngIf="birthday.errors.required">
                                                <small>* Birthday is required</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="groupInput" class="detail-label">Group:</label>
                                        <select [(ngModel)]="child.group" class="form-control" id="groupInput" name="groupInput"
                                        required #group="ngModel" [ngClass]="{ 'is-invalid': group.invalid }">
                                        <option value="" selected disabled>Select a group</option>
                                        <option>Babies</option>
                                        <option>Senior Babies</option>
                                        <option>Toddlers</option>
                                        <option>Juniors</option>
                                        <option>Kinders</option>
                                        </select>
                                        <div *ngIf="group.invalid && (group.dirty || group.touched)" class="text-danger">
                                            <div *ngIf="group.errors.required">
                                                <small>* Group is required</small>
                                            </div>
                                        </div>
                                    </div>

                                    <button class="btn btn-primary" (click)="save()" [disabled]="f.invalid">Save</button>
                                    <span>&nbsp;</span>
                                    <button class="btn btn-light" (click)="back()">Cancel</button>
                                </div>
                            </ng-template>
                        </ngb-tab>
                    

                        <ngb-tab *ngIf="child.id > 0 && feedback" title="Feedback">
                            <ng-template ngbTabContent>                         
                                <div class="col-lg-12">
                                    <span>&nbsp;</span>
                                    <div class="form-group">
                                        <label for="feedbackInput" class="detail-label">Add Feedback:</label>&nbsp;<small>(Visible only to the child's parents / guardians and the educators)</small>
                                        <textarea [(ngModel)]="feedback.feedback" class="form-control" rows="3" id="feedbackInput" name="feedbackInput" placeholder="Suggest? Praise? Comment?..."></textarea>
                                    </div>
                                    <button class="btn btn-primary" (click)="saveFeedback()" [disabled]="feedback.feedback.trim() == ''">Save</button>
                                    <div>
                                        <span>&nbsp;</span>
                                        <div *ngIf="feedbacks" class="card card-default" style="display: block;">
                                            <div class="card-header">
                                                Feedbacks ({{ feedbacks.length }})
                                            </div>
                                            <div>                                                                      
                                                <div class="col-lg-12">
                                                    
                                                    <div *ngFor="let feed of feedbacks" class="feedback-detail">
                                                        <strong>{{ feed.giver_name }}</strong> ({{ getProperRoleDisplay(feed.giver_role) }}) on {{ feed.date_created | date }}:
                                                        <p>
                                                            <q>{{ feed.feedback }}</q>
                                                        </p>
                                                        <button *ngIf="sessionUtils.getId() === feed.giver_id && sessionUtils.isAllowed(feed.giver_role)" class="btn btn-danger" (click)="showConfirmFeedback(feed)">Delete</button>
                                                        <hr/>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>

                    </ngb-tabset>
                </div>


                <div *ngIf="child.id > 0" class="col-lg-4">
                    <div class="row">
                        <span>&nbsp;</span>
                        <div class="col-lg-11 admin-panel">
                            <div *ngIf="sessionUtils.isAllowed('ROLE_ADMIN','ROLE_EDUCATOR')">
                                <h5 class="detail-label">Actions</h5>
                                <div class="row">
                                    <div class="col-lg-11">
                                        <button class="btn btn-{{ child.active === 1 ? 'secondary' : 'success' }}" (click)="activateDeactivate()">{{ child.active === 1 ? 'Deactivate' : 'Activate' }}</button>                            
                                        <span>&nbsp;</span>
                                        <button *ngIf="sessionUtils.isAllowed('ROLE_ADMIN')" class="btn btn-danger" (click)="showConfirm()">Delete</button>
                                    </div>
                                </div>
                                <span><hr/></span>
                            </div>           
                            <h5 class="detail-label">Portfolio Tracking</h5>
                            <div class="row">
                                    <div class="col-lg-5 detail-label">Observations:</div>
                                    <div class="col-lg-6">{{ statistics?.total_observations || 0 }}</div>
                            </div>
                            <div class="row">
                                    <div class="col-lg-5 detail-label">Last Observation:</div>
                                    <div class="col-lg-6">{{ child.last_observation_activity | date }}</div>
                            </div>
                            <div class="row">
                                    <div class="col-lg-5 detail-label">Milestones:</div>
                                    <div class="col-lg-6">{{ statistics?.total_milestones || 0 }}</div>
                            </div>
                            <div class="row">
                                    <div class="col-lg-5 detail-label">Last Milestone:</div>
                                    <div class="col-lg-6">{{ child.last_milestone_activity | date }}</div>
                            </div>
                            <div class="row">
                                    <div class="col-lg-5 detail-label">ITPs:</div>
                                    <div class="col-lg-6">{{ statistics?.total_itps || 0 }}</div>
                            </div>
                            <div class="row">
                                    <div class="col-lg-5 detail-label">Open ITPs:</div>
                                    <div class="col-lg-6">{{ statistics?.total_itps_open || 0 }}</div>
                            </div>
                            <div class="row">
                                    <div class="col-lg-5 detail-label">Furthest ITP:</div>
                                    <div class="col-lg-6">{{ child.last_teachingplan_activity | date }}</div>
                            </div>
                            <span><hr/></span>                        
                            <h5 class="detail-label">Parents / Guardians ({{ assignedParentsGuardians.length }})</h5>
                            <div *ngFor="let parentGuardian of assignedParentsGuardians" class="row">
                                <div class="col-lg-11">{{ parentGuardian.first_name + ' ' + parentGuardian.last_name }}</div>
                            </div>
                            <span><hr/></span>                        
                            <h5 class="detail-label">Assigned Educators ({{ assignedEducators.length }})</h5>
                            <div *ngFor="let educator of assignedEducators" class="row">
                                <div class="col-lg-11">{{ educator.first_name + ' ' + educator.last_name }}</div>
                            </div>
                            <span><hr/></span>
                            <h5 class="detail-label">Record Details</h5>
                            <div class="row">
                                    <div class="col-lg-5 detail-label">Created on:</div>
                                    <div class="col-lg-6">{{ child.date_created | date }}</div>
                            </div>
                            <div class="row">
                                    <div class="col-lg-5 detail-label">Updated on:</div>
                                    <div class="col-lg-6">{{ child.date_modified | date }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>

    </div>
</div>
