<div [@routerTransition]>
    <app-page-header [heading]="'Teaching Plan Details'"></app-page-header>
    <div *ngIf="teachingPlan && educator && children">
        <div class="row">
            <div class="col-lg-8">
                <div class="form-group">
                    <div class="row">
                            <div class="col-lg-1 detail-label">By</div>
                            <div class="col-lg-11">{{ educator.first_name + ' ' + educator.last_name }}</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="childInput" class="detail-label">For</label>
                    <select [(ngModel)]="teachingPlan.child_id" class="form-control" id="childInput">
                        <option *ngFor="let child of children" [value]="child.id" class="form-control">
                            {{ child.first_name + ' ' + child.last_name }}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="titleInput" class="detail-label">Title</label>                    
                    <input [(ngModel)]="teachingPlan.title" type="text" class="form-control" id="titleInput" placeholder="e.g. Encourage Joey to share" />
                </div>
                <div class="form-group">
                    <label for="detailsInput" class="detail-label">Details</label>                    
                    <textarea [(ngModel)]="teachingPlan.details" class="form-control" rows="8" id="detailsInput" placeholder="What's the plan?"></textarea>
                </div>
                <div class="form-group">
                    <label for="outcomeInput" class="detail-label">Outcome / Link</label>
                    <select [(ngModel)]="teachingPlan.target_outcome_id" class="form-control" id="outcomeInput">
                        <option *ngFor="let outcome of outcomes" [value]="outcome.id" class="form-control">
                            {{ outcome.description }}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="targetDateInput" class="detail-label">Target Date</label>
                    <input [(ngModel)]="teachingPlan.target_date" type="date" class="form-control" id="targetDateInput" />
                </div>
                <p>&nbsp;</p>

                <button class="btn btn-primary" (click)="save()">Save</button>
                <span>&nbsp;</span>
                <button class="btn btn-light" (click)="back()">Cancel</button>
            </div>
            <div *ngIf="teachingPlan.id > 0" class="col-lg-4">
                <div class="row">
                    <span>&nbsp;</span>
                    <div class="col-lg-11 admin-panel">
                        <h5 class="detail-label">Actions</h5>
                        <div class="row">
                            <div class="col-lg-11">
                                <button class="btn btn-{{ teachingPlan.done === 1 ? 'secondary' : 'success' }}" (click)="doneUndone()">{{ teachingPlan.done === 1 ? 'Unmark Done' : 'Mark Done' }}</button>                            
                                <span>&nbsp;</span>
                                <button class="btn btn-danger" (click)="showConfirm()">Delete</button>
                            </div>
                        </div>
                        <span><hr/></span>
                        <h5 class="detail-label">More Details</h5>
                        <div class="row">
                                <div class="col-lg-5 detail-label">Created on:</div>
                                <div class="col-lg-6">{{ teachingPlan.date_created | date }}</div>
                        </div>
                        <div class="row">
                                <div class="col-lg-5 detail-label">Last updated on:</div>
                                <div class="col-lg-6">{{ teachingPlan.date_modified | date }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
