<div [@routerTransition]>
  <app-page-header [heading]="'Children'" [icon]="'fa-table'"></app-page-header>
  <div *ngIf="sessionUtils.isAllowed('ROLE_ADMIN','ROLE_EDUCATOR')" class="row">
    <div class="col-xl-12">
      <button type="button" class="btn btn-primary" (click)="addNew()">Add new</button>
    </div>
  </div>
  <div class="row">
    <div class="col col-xl-12 col-lg-12">
      <div class="card mb-12">
        <table class="card-body table table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Nickname</th>
                <th>Group</th>
                <th>Latest Observation</th>
                <th>Latest Milestone</th>
                <th>Furthest ITP</th>
                <th>Active</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let child of children" class="table-row" (click)="goToDetail(child)">
                <td>{{ child.first_name + ' ' + child.last_name }}</td>
                <td>{{ child.nickname }}</td>
                <td>{{ child.group }}</td>
                <td>{{ child.last_observation_activity | date }}</td>
                <td>{{ child.last_milestone_activity | date }}</td>
                <td>{{ child.last_teachingplan_activity | date }}</td>
                <td>{{ child.active | yesno }}</td>
              </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>
 </div>