<div [@routerTransition]>
  <app-page-header [heading]="'Educators'" [icon]="'fa-table'"></app-page-header>
  <div class="row">
    <div class="col-xl-12">
      <button type="button" class="btn btn-primary" (click)="addNew()">Add new</button>
    </div>
  </div>
  <div class="row">
    <div class="col col-xl-12 col-lg-12">
      <div class="card mb-12">
        <table class="card-body table table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Nickname</th>
                <th>Email</th>
                <th>Contact No.</th>
                <th>Latest Observation</th>
                <th>Latest Milestone</th>
                <th>Furthest ITP</th>
                <th>Active</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let educator of educators" class="table-row" (click)="goToDetail(educator)">
                <td>{{ educator.first_name + ' ' + educator.last_name }}</td>
                <td>{{ educator.nickname }}</td>
                <td>{{ educator.email }}</td>
                <td>{{ educator.contact_number }}</td>
                <td>{{ educator.last_observation_activity | date }}</td>
                <td>{{ educator.last_milestone_activity | date }}</td>
                <td>{{ educator.last_teachingplan_activity | date }}</td>
                <td>{{ educator.active | yesno }}</td>
              </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>
 </div>
