<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
        <a *ngIf="sessionUtils.isAllowed('ROLE_ADMIN')" [routerLink]="['/dashboard-admin']" [routerLinkActive]="['router-link-active']" class="list-group-item" style="cursor:pointer;">
            <i class="fa fa-fw fa-tachometer-alt"></i>
            <span>{{ 'Dashboard' | translate }}</span>
        </a>    
        <a *ngIf="sessionUtils.isAllowed('ROLE_EDUCATOR')" [routerLink]="['/dashboard-educator']" [routerLinkActive]="['router-link-active']" class="list-group-item" style="cursor:pointer;">
            <i class="fa fa-fw fa-tachometer-alt"></i>
            <span>{{ 'Dashboard' | translate }}</span>
        </a>    
        <a *ngIf="sessionUtils.isAllowed('ROLE_PARENT_GUARDIAN')" [routerLink]="['/dashboard-parent-guardian']" [routerLinkActive]="['router-link-active']" class="list-group-item" style="cursor:pointer;">
            <i class="fa fa-fw fa-tachometer-alt"></i>
            <span>{{ 'Dashboard' | translate }}</span>
        </a>    

        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <i class="fa fa-fw fa-address-book"></i>
                <span>{{ 'Child Portfolio' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/children']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-child"></i>
                            <span>{{ 'Children' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/observations']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-clipboard-check"></i>
                            <span>{{ 'Observations' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/milestones']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-award"></i>
                            <span>{{ 'Milestones' | translate }}</span>
                        </a>
                    </li>
                    <li *ngIf="sessionUtils.isAllowed('ROLE_ADMIN','ROLE_EDUCATOR')">
                        <a [routerLink]="['/teachingplans']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-edit"></i>
                            <span>{{ 'Teaching Plans' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>

        <div *ngIf="sessionUtils.isAllowed('ROLE_ADMIN')" class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('accounts')">
                <i class="fa fa-fw fa-user"></i>
                <span>{{ 'Accounts' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'accounts'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/parents-guardians']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-user-friends"></i>
                            <span>{{ 'Parents / Guardians' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/educators']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-chalkboard-teacher"></i>
                            <span>{{ 'Educators' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/administrators']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-user-cog"></i>
                            <span>{{ 'Administrators' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>

        <a [routerLink]="['/reports']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-print"></i>
            <span>{{ 'Reports' | translate }}</span>
        </a>

        <a *ngIf="sessionUtils.isAllowed('ROLE_ADMIN')" [routerLink]="['/centre']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-home"></i>
            <span>{{ 'Centre Details' | translate }}</span>
        </a>

        <div class="header-fields">
            <div class="dropdown-divider"></div>
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('profile')">
                    <span><i class="fa fa-fw fa-user-circle"></i> {{ user_name }}</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'profile'">
                    <ul class="submenu">
                        <li>
                            <a [routerLink]="['/notifications']">
                                <span><i class="fa fa-fw fa-bell"></i> My notifications</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/account']">
                                <span><i class="fa fa-fw fa-cog"></i> My account</span>
                            </a>
                        </li>
                        <div class="dropdown-divider"></div>
                        <li>
                            <a [routerLink]="['/login']" (click)="onLoggedout()">
                                <span><i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-{{collapsed?'right':'left'}}"></i>
        <span>{{ 'Hide menu' | translate }}</span>
    </div>
</nav>
