<div [@routerTransition]>
  <app-page-header [heading]="'Milestones'" [icon]="'fa-table'"></app-page-header>
  <div class="row">
    <div class="col col-xl-12 col-lg-12">
      <div class="card mb-12">
        <table class="card-body table table-hover">
          <thead>
            <tr>
              <th>For</th>
              <th>Current Group</th>
              <th>Latest Milestone Tracked</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let child of children" class="table-row" (click)="goToDetail(child)">
              <td>{{ child.first_name + ' ' + child.last_name }}</td>
              <td>{{ child.group }}</td>
              <td>{{ child.last_milestone_activity | date }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
 </div>