<ngb-tabset>
    <ngb-tab title="Babies">
      <ng-template ngbTabContent>
        <div class="col-lg-6">
          <div *ngFor="let child of childGroup1" class="checkbox">
              <div class="form-group">
                <input [(ngModel)]="child.selected" type="checkbox"/>&nbsp;{{ child.name }}
              </div>
          </div>
        </div>
        <p></p>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Senior Babies">
      <ng-template ngbTabContent>
        <div class="col-lg-6">
          <div *ngFor="let child of childGroup2" class="checkbox">
              <div class="form-group">
                <input [(ngModel)]="child.selected" type="checkbox"/>&nbsp;{{ child.name }}
              </div>
          </div>
        </div>
        <p></p>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Toddlers">
      <ng-template ngbTabContent>
        <div class="col-lg-6">
          <div *ngFor="let child of childGroup3" class="checkbox">
              <div class="form-group">
                <input [(ngModel)]="child.selected" type="checkbox"/>&nbsp;{{ child.name }}
              </div>
          </div>
        </div>
        <p></p>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Juniors">
      <ng-template ngbTabContent>
        <div class="col-lg-6">
          <div *ngFor="let child of childGroup4" class="checkbox">
              <div class="form-group">
                <input [(ngModel)]="child.selected" type="checkbox"/>&nbsp;{{ child.name }}
              </div>
          </div>
        </div>
        <p></p>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Kinders">
      <ng-template ngbTabContent>
        <div class="col-lg-6">
          <div *ngFor="let child of childGroup5" class="checkbox">
              <div class="form-group">
                <input [(ngModel)]="child.selected" type="checkbox"/>&nbsp;{{ child.name }}
              </div>
          </div>
        </div>
        <p></p>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
  <hr/>